@font-face {
   
    font-family: Roboto, sans-serif;
    src: url(../roboto.ttf);
    font-family: bootsandspurs;
    src:url(fonts/BootsAndSpurs\ \(1\).ttf) 

}
body{
    font-family: "Roboto", sans-serif;
}

roboto-fontfamily {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
/*Header and Footer info*/
header {
    display:flex;
    flex-direction: row;
    align-items: center;
    }

header, footer {
    background-color: black;
    color: #fff;
    
}


header a{
    color: white;
    padding: 10px;
    text-decoration: none;
}

nav ul{
    padding:0%;
}
nav li{
    display: inline-block;
}

nav a:hover{
    text-decoration: underline;
}

.btn-nav{
    border: none;
    outline:none;
    padding: 0px 10px;
    background: black;
    cursor: pointer;
}

.current{
    text-decoration: underline;
}

.active, .btn-nav:hover{
    background-color: red;
    color:white;
    text-decoration: none;
}

footer{
    text-align: center;;
}



 


h1, h2, .logo
{font-family: "bootsandspurs";
    
}
/*images*/
.hero-img {
    background-image: url(images/home-header.jpg);
    min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    position:relative;


}
.guitarinfo{
    border-radius: 20%;
}

.img-prod{
    border-radius: 10%;
}



.review{
    background-color:#e8e8e8;
}

.featured--products{
    background-color:#fbfbfb;
    font-family: Arial, Helvetica, sans-serif;
    
}

/*buttons*/
.submit{
    background-color: red;
    color:white;
    
}
.view{
    display: inline-block;
    background-color: red;
    padding:5px 55px ;
    border-radius: 5px;
    color:white;
    margin: 20px 10px;
    text-decoration: none;
    
}

.cta-sale{
    background-color: green;
    padding: 5px 55px ;
    border-radius: 5px;
    color:white;
    text-decoration: none;
    display: inline-block;
}

.cta-btn{
    background-color: red;
    padding:5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
cta-btn:hover{
    text-decoration: underline;
}

/*index page*/
.hero-text{
    position:absolute;
    top: 100px;
    left: 100px;
}
/*selling points section*/
.sellingpoints {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
   
    
    
}
.sellingpoints > div > img {
    width: 500px;
    border-radius: 20px;
}


.sellingpoints-txt{
    flex:1;
}



.sellingpoints-img{
    flex:1;
    width: 100%;
}


    

.guitarinfo{
    max-width: 100%;
    width: auto;
    flex: 1;
    margin:50px;
}

#view-guitarbtn{
    margin-left:150px;
    padding: 5px 50px;
}
/*review section
.review{
   max-width: 1000px;
   margin: 50px auto;
   display: flex;
    
}
*/
.review-content{
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    
}
    
.review-profilepic{
    border-radius: 100%;
    width: 80px;
    float: right;
    
}

/*contact page*/

input, select, textarea{
    border: 1px solid #000;
    border-radius: 5px;
}


.flex-container{
    
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    
}
.h1test{
    flex:1;
}



.img-test{
    width: 100%;
    flex: 1;
  
}

.flex-container > div > img {
    width: 500px;
    border-radius: 20px;
    

    
    

}

