@font-face {
    font-family: Bootsandspurs,  ;
    src: url(../bootsandspurs.ttf);
}

header, footer {
    background-color: black;
    color: #fff;
    
}


header a{
    color: white;
    padding: 10px;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}
roboto-fontfamily {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

p{
    font-family: "roboto-fontfamily";
}
h1, h2
{font-family: "bootsandspurs";}


.review{
    background-color:#e8e8e8;
}

.featured--products{
    background-color:#fbfbfb;
}

.view{
    background-color: red;
    padding:5px 25px 5px 25px;
    border-radius: 5px;
    color:white;
    margin: 20px 0px;
    text-decoration: none;
}

.cta-sale{
    background-color: green;
    padding: 5px 25px 5px 25px;
    border-radius: 5px;
    color:white;
    text-decoration: none;
}

.cta-btn{
    background-color: red;
    padding:5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
cta-btn:hover{
    text-decoration: underline;
}
footer{
    text-align: center;;
}